@model vegalume.Models.Pedido;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acompanhar Pedido</title>
    <link rel="stylesheet" href="~/acompanharpedido/acompanhar-pedido.css">
    <link rel="stylesheet" href="~/shared.css">
</head>

<body><a asp-controller="Home" asp-action="Index" class="white-green-btn" id="voltar">Voltar</a>

    <div id="main" data-id="@Model.idPedido">

        <div id="status-pedido">
            <img id="icone"/>
            <div id="frase-status"></div>
            <div id="barras">
                <div class="barra" id="barra-espera">
                    <div class="progresso" id="progresso-espera"></div>
                </div>
                <div class="barra" id="barra-preparacao">
                    <div class="progresso" id="progresso-preparacao"></div>
                </div>
                <div class="barra" id="barra-transito">
                    <div class="progresso" id="progresso-transito"></div>
                </div>
            </div>
            <div id="hora-entrega">
                <div>Hora estimada de entrega:</div>
                <div id="hora-entrega-div">19:30 - 20:00</div>
            </div>
        </div>

        <div id="detalhes-pedido">
            <div>Detalhes do Pedido</div>

            <div id="pratos">
            </div>

            <div id="total">
                <div><strong>Total</strong></div>
                <div id="total-div"></div>
            </div>

            <div class="p-e" id="forma-pagamento">
                <div>
                    <img src="~/Imagens/icons8-card-100.png" alt="">
                    <div>Forma de Pagamento</div>
                </div>
                <div id="pagamento-div">(Débito) Mastercard - **** 2386</div>
            </div>

            <div class="p-e" id="endereco">
                <div>
                    <img src="~/Imagens/icons8-location-100.png" alt="">
                    <div>Endereço de Entrega</div>
                </div>
                <div id="endereco-div"></div>
            </div>
        </div>

        <a class="white-green-btn" id="cancelar">Cancelar Pedido</a>

    </div>

    <script src="~/acompanharpedido/acompanhar-pedido.js"></script>
</body>