@{

}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico de Pedidos</title>
    <link rel="stylesheet" href="~/listarpedido/listar-pedido.css">
    <link rel="stylesheet" href="~/shared.css">
</head>

<body>
    <button onclick="window.history.back()" class="white-green-btn" id="voltar">Voltar</button>

    <form>
        <div id="titulo">Histórico de Pedidos</div>
        <div>
            <label>Filtro:</label><input type="text" id="txtFiltro" placeholder="N°, cliente, prato, ou data" maxlength="50" />
        </div>
        <div id="nenhum">Nenhum pedido encontrado!</div>
        <table id="pedidos">
        </table>
    </form>

    <script src="~/listarpedido/listar-pedido.js"></script>
</body>