@model vegalume.Models.Funcionario;

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo, Vinícius</title>
    <link rel="stylesheet" href="~/homefuncionario/home-funcionario.css">
    <link rel="stylesheet" href="~/shared.css">
</head>

<body>
    <a asp-action="Logout" asp-controller="Home" class="white-green-btn" id="sair">Sair</a>

    <div id="main" data-rm="@Model.rm">
        <div id="bem-vindo">Bem vindo, @Model.nome</div>

        <div class="table-div" id="espera">
            <div class="table-title">Pedidos em espera</div>
            <div class="vazio" id="vazio-espera">Nenhum pedido em espera no momento.</div>
            <table id="table-espera">
            </table>
        </div>

        <div class="table-div" id="preparação">
            <div class="table-title">Pedidos em preparação</div>
            <div class="vazio" id="vazio-preparacao">Nenhum pedido em preparação no momento.</div>
            <table id="table-preparacao">
            </table>
        </div>

        <div class="table-div" id="transito">
            <div class="table-title">Pedidos em trânsito</div>
            <div class="vazio" id="vazio-transito">Nenhum pedido em trânsito no momento.</div>
            <table id="table-transito">
            </table>
        </div>

        <div id="funcoes">
            <a asp-controller="Cliente" asp-action="CadastroCliente">
                <img src="~/Imagens/icons8-user-100.png">
                <div>Cadastrar Cliente</div>
            </a>
            <a asp-controller="Funcionario" asp-action="CadastroFuncionario">
                <img src="~/Imagens/icons8-name-tag-100.png">
                <div>Cadastrar Funcionário</div>
            </a>
            <a>
                <img src="~/Imagens/icons8-broccoli-100.png" class="funcoes-a">
                <div>Editar Cardápio</div>
            </a>
            <a>
                <img src="~/Imagens/icons8-note-100.png" class="funcoes-a">
                <div>Histórico de Pedidos</div>
            </a>
            <a>
                <img src="~/Imagens/icons8-database-100.png" class="funcoes-a">
                <div>Clientes Cadastrados</div>
            </a>

        </div>

    </div>

    <script src="/HomeFuncionario/home-funcionario.js"></script>
</body>