@{
 
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegalume - Login</title>
    <link href="~/login/login.css" rel="stylesheet" />
    <link href="~/shared.css" rel="stylesheet" />
</head>

<body>
    <a asp-controller="Home" asp-action="Index" class="white-green-btn" id="voltar">Voltar</a>

    <form method="post" action="/Home/Login">
        <p>Login</p>
        <div><input type="checkbox" id="cbxfuncionario" name="isFuncionario" value="true"><label id="lblFuncionario">Funcionário</label></div>
        <div id="textboxes">
            <div>
                <label>Email </label>
                <input type="text" id="txtEmail" name="email" value="@ViewBag.Email" required maxlength="50" placeholder="joao.vieira@gmail.com">
            </div>
            <div>
                <label>Senha </label>
                <input type="password" id="txtSenha" name="senha" required maxlength="30" placeholder="••••••••">
            </div>
        </div>
        <input type="submit" class="white-green-btn" id="entrar" value="Entrar" />
        <a asp-action="CadastroCliente" asp-controller="Cliente">Não tem uma conta? Cadastre-se!</a>
    </form>

    <script src="login.js"></script>
</body>

@if (ViewBag.Erro != null)
{
    <script>
        alert('@ViewBag.Erro');
    </script>
}